@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #9fb9f2;
    --dark-primary-color: #7494b4;
    --secondary-color: #3f558f;
    --text-color: #535b63;
    --dark-text-color: #232323;
    --background-color: #F1F4FF;
    --dark-background-color: #dad7c8;
    --backup-color: #ecf2b2;
    --backup-color-2: #7c746c;
    --gray-backup-color: #b4b4b4;
}

.montserrat-font {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body {
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Montserrat", serif;
}


/* ----- WOW ANIMATIONS ----- */

.wow {
    visibility: hidden;
}


/* ----- BUTTONS ----- */

.btn {
    background-color: transparent;
}

.btn.btn-default {
    color: var(--secondary-color);
    margin: 5px 0;
}

.btn.btn-default:hover {
    border-color: #92CCA5;
    color: var(--primary-color);
    background-color: transparent;
}

.btn.btn-primary {
    border-color: #0A6C87;
    color: var(--dark-background-color);
}

.btn.btn-primary:hover {
    background-color: var(--secondary-color);
    color: #FFFFFF;
}


/* ----- SLIDER ----- */

.carousel#main-slider .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel#main-slider .container-fluid .carousel-indicators li {
    border: 1px solid #333333 !important;
}

.carousel#main-slider .container-fluid .carousel-indicators li.active {
    background-color: #333333;
}

.carousel#main-slider .carousel-inner {
    overflow: visible;
    background-image: url("http://isminciukai.lt/images/page/slider/logo-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}

.carousel#main-slider .carousel-inner .item {
    display: block;
    height: 95vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    padding: 50px 15px 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


/* Overlay for brightness control */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the rgba for stronger or weaker darkness */
    z-index: 1;
    /* Ensure it stays behind the content */
    filter: brightness(50%);
    /* Lower the brightness */
}

#carousel-header {
    margin-top: -.5em;
    font-family: "Poppins", serif;
    letter-spacing: 1px;
    font-size: 70px;
    -webkit-text-stroke: 3px var(--secondary-color);
    color: #000000;
    text-shadow: 5px 3px 1px var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-radial-gradient(19% 50%, ellipse cover, var(--backup-color) 19%, #F7FF00 34%);
    font-weight: 900;
}

.container p {
    color: var(--dark-background-color);
    font-family: "Montserrat", serif;
}

.carousel#main-slider .carousel-inner .item .container {
    position: relative;
    z-index: 2;
    /* Keep the content above the overlay */
}

@media (min-width: 767px) {
    .carousel#main-slider .carousel-inner .item {
        padding: 80px 80px 0;
    }
}

.carousel#main-slider .carousel-inner .item .slide-content {
    display: block;
    padding: 0;
    margin: 100px 0;
    text-align: center;
}

@media (min-width: 767px) {
    .carousel#main-slider .carousel-inner .item .slide-content {
        text-align: left;
    }
}

.carousel#main-slider .carousel-inner .item .slide-content h1,
.carousel#main-slider .carousel-inner .item .slide-content p,
.carousel#main-slider .carousel-inner .item .slide-content .btn {
    opacity: 0;
    transform: translate(0, 25px);
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.carousel#main-slider .carousel-inner .item .slide-content h1 {
    transition-duration: 1s;
    transition-delay: 0s;
}

.carousel#main-slider .carousel-inner .item .slide-content p {
    transition-duration: 1.2s;
    transition-delay: 0s;
}

.carousel#main-slider .carousel-inner .item .slide-content .btn {
    margin-right: 5px;
    transition-duration: 1.4s;
    transition-delay: 0s;
}

.carousel#main-slider .carousel-inner .item .slide-img {
    position: relative;
    display: none;
    margin: 0 auto;
    max-width: 300px;
    min-height: 350px;
    text-align: center;
    padding: 25px;
}

@media (min-width: 767px) {
    .carousel#main-slider .carousel-inner .item .slide-img {
        display: block;
    }
}

.carousel#main-slider .slide-control .left,
.carousel#main-slider .slide-control .right {
    display: block;
    height: 50px;
    width: 50px;
    background-color: transparent;
    background: none;
    border: 1px solid #333333;
    border-radius: 100%;
    z-index: 9;
    top: 80%;
}

@media (min-width: 767px) {
    .carousel#main-slider .slide-control .left,
    .carousel#main-slider .slide-control .right {
        top: 45%;
    }
}

.carousel#main-slider .slide-control .left span,
.carousel#main-slider .slide-control .right span {
    display: block;
    position: relative;
    height: 1px;
    width: 18px;
    background-color: #333333;
    top: 23px;
    left: 15px;
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.carousel#main-slider .slide-control .left {
    left: 25%;
}

@media (min-width: 767px) {
    .carousel#main-slider .slide-control .left {
        left: 15px;
    }
}

.carousel#main-slider .slide-control .left span {
    transform-origin: left center;
}

.carousel#main-slider .slide-control .left span:first-child {
    top: 23px;
    transform: rotate(-40deg);
}

.carousel#main-slider .slide-control .left span:last-child {
    top: 22px;
    transform: rotate(40deg);
}

.carousel#main-slider .slide-control .left:hover span:first-child {
    transform: rotate(-45deg);
}

.carousel#main-slider .slide-control .left:hover span:last-child {
    transform: rotate(45deg);
}

.carousel#main-slider .slide-control .right {
    right: 25%;
}

@media (min-width: 767px) {
    .carousel#main-slider .slide-control .right {
        right: 15px;
    }
}

.carousel#main-slider .slide-control .right span {
    transform-origin: right center;
}

.carousel#main-slider .slide-control .right span:first-child {
    top: 23px;
    transform: rotate(40deg);
}

.carousel#main-slider .slide-control .right span:last-child {
    top: 22px;
    transform: rotate(-40deg);
}

.carousel#main-slider .slide-control .right:hover span:first-child {
    transform: rotate(45deg);
}

.carousel#main-slider .slide-control .right:hover span:last-child {
    transform: rotate(-45deg);
}


/* 4. ANIMATIONS */


/* 4.1. Slider animations */

.carousel#main-slider .carousel-inner .active {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: all 0.5s ease-in-out 1s;
}

.carousel#main-slider .carousel-inner .active .slide-content h1,
.carousel#main-slider .carousel-inner .active .slide-content p,
.carousel#main-slider .carousel-inner .active .slide-content .btn {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 1s;
}


/* 4.2. Facebook banner animations */

.swing-left {
    -webkit-animation-name: swing-left;
    animation-name: swing-left;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    transform-origin: bottom center;
}

@-webkit-keyframes swing-left {
    0% {
        transform: translate(-25px, -10px) rotate(-5deg);
    }
    49% {
        transform: translate(-30px, -20px) rotate(5deg);
    }
    100% {
        transform: translate(-25px, -10px) rotate(-5deg);
    }
}

@keyframes swing-left {
    0% {
        transform: translate(-25px, -10px) rotate(-5deg);
    }
    49% {
        transform: translate(-30px, -20px) rotate(5deg);
    }
    100% {
        transform: translate(-25px, -10px) rotate(-5deg);
    }
}

.swing-right {
    -webkit-animation-name: swing-right;
    animation-name: swing-right;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    transform-origin: bottom center;
}

@-webkit-keyframes swing-right {
    0% {
        transform: translate(25px, -10px) rotate(5deg);
    }
    49% {
        transform: translate(30px, -20px) rotate(-5deg);
    }
    100% {
        transform: translate(25px, -10px) rotate(5deg);
    }
}

@keyframes swing-right {
    0% {
        transform: translate(25px, -10px) rotate(5deg);
    }
    49% {
        transform: translate(30px, -20px) rotate(-5deg);
    }
    100% {
        transform: translate(25px, -10px) rotate(5deg);
    }
}


/* ---- CONTENT SECTIONS ----- */


/*         generale classes           */

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

.btn {
    background: linear-gradient(to right, #9672fb, #d772fb);
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    color: white;
    font-size: 14px;
    margin-top: 25px;
    cursor: pointer;
    box-shadow: 0px 5px 10px -3px rgb(0 0 0 / 37%);
    transition: 0.2s;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: none;
}


/*               section about                */

.about {
    height: max-content;
}

.fir {
    width: 60%;
    max-width: 821px;
    text-align: center;
    margin: auto;
    margin-top: 170px;
    margin-bottom: 100px;
    position: relative;
    height: 300px;
}

.fir h2 {
    text-transform: capitalize;
    margin: 30px 0;
    color: #2f2651;
    font-size: 30px;
}

.fir p {
    color: #7a7490;
}

.fir>img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.icon1 {
    margin: -4px;
    margin-right: 10px;
}

.sec {
    max-width: 100%;
}


/*            section features             */

.features {
    height: max-content;
    padding-bottom: 20px;
}

.ftr {
    width: 800px;
    margin: 100px auto 40px;
}

.ftr h3 {
    color: #7a7490;
    font-weight: 500;
    font-size: 30px;
}

.ftr h2 {
    font-size: 60px;
    margin: 15px 0 15px;
    color: var(--secondary-color);
}

.worker {
    max-height: 700px;
    max-width: 846px;
    margin: auto;
    border: 1px solid rgba(106, 105, 105, 0.303);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.worker img {
    max-width: 100%;
    max-height: 100%;
}


/*            section why             */

.why {
    height: 550px;
    width: 100%;
    /* padding: 20px; */
    /* border: 1px dashed grey; */
}

.container-div-why {
    max-width: 1060px;
    width: 90%;
    height: 100%;
    margin: auto;
    /* border: 1px dashed grey; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dr {
    width: 49%;
    height: 100%;
    margin: 0;
    /* background: rgba(128, 128, 128, 0.097); */
    position: relative;
}

.tw {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.tw h3 {
    color: #2f2651;
    margin: 25px 0 25px;
    font-size: 30px;
}

.tw p {
    color: #7a7490;
    font-weight: 300;
}

.dr figure img {
    width: 100%;
}


/*               section cover                */

.cover {
    height: 600px;
    background-image: url("./resources/assets/images/dummy1.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.cover div {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover div img {
    width: 40px;
    margin: 0 0 30px;
    cursor: pointer;
}

.cover div h4 {
    color: #f6f6f9;
    font-family: 500;
    font-size: 25px;
}


/*               CTA                */

.cta {
    padding-top: 100px;
    height: 1475px;
}

.cont-btn {
    width: 500px;
    margin: auto;
    text-align: center;
}

.cont-btn button {
    text-align: center;
    font-size: 5px;
    padding: 21px 51px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #000000;
    height: 100%;
}

.sp1 {
    font-size: 12px;
    text-transform: capitalize;
}

.sp2 {
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 20px;
}

.i {
    margin: 1px 11px -21px -7px;
    width: 25px;
}

.cont-btn>span {
    display: block;
    font-size: 70px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #2f2651;
    font-weight: 500;
}

.cont-post {
    margin-top: 200px;
    width: 100%;
    height: 944px;
    background-image: url("./resources/assets/images/dummy1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* .cont-post img{
      width: 100%;
  } */


/* ----- Sponsors ----- */

.slick-slide {
    margin: 0px 10px;
}

.slick-slide img {
    width: 100%;
    filter: grayscale(100%);
    transition: all ease-in-out 0.3s;
}

.slick-slide img:hover {
    filter: grayscale(0);
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    margin: 20px;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.sponsor {
    width: 100%;
    margin: 20px auto;
    background-color: white;
}