@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #9fb9f2;
    --dark-primary-color: #7494b4;
    --secondary-color: #3f558f;
    --text-color: #535b63;
    --text-color-2: #232323;
    --background-color: #c1cad7;
    --dark-background-color: #dad7c8;
    --backup-color: #ecf2b2;
    --backup-color-2: #7c746c;
    --gray-backup-color: #b4b4b4;
}

.montserrat-font {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}